	<div class="card">
		
		<div class="cmain">
			<div id="ctop" class="row">
				<div id="ctitle" class="col-xs-8">
					<%= link_to(post.title,  {action:'show', id: post.id}) %>					
				</div>
				<div id="cscore" class="col-xs-4">
					<%= post.vote_count %>
					<%= image_tag('up.png')%> 
					<%= post.favorite_count  %>
					<%= link_to image_tag('heart.png'), favorities_path(post_id: post.id), method: :post, remote: true %>
				</div>
			</div>
			<div id="cbottom"><%= post.content %></div>
		</div>
		<div class="cbase">
			<div>by <%= User.find(post.user_id).name ||= User.find(post.user_id).email %></div>
			<div></div>
		</div>
	</div>